{% extends "cornerstone/base.html" %}{% load static from staticfiles %} {% block title %} Students Info{% endblock title %} {% block linkscript %}
<link rel="stylesheet" href="{%static 'base/css/children.css'%}">
<script src="{%static 'base/js/children.js'%}"></script> {% endblock linkscript %} {% block main %}
<div class="container">
    <div class="">
        <h2 class="text-success ">Children List</h2>
        <a href="" class="pull-left" id="addbtn" data-toggle="modal" data-target="#addmodal">
            <h4>Create New</h4>
        </a>
        <br><br>
    </div>
    <div class="">
        <table class="table table-hover table-bordered table-dark">
            <thead>
                <tr class="success">
                    <th>No.</th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>School</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody id="tb">
                {% for row in child_list %}
                <tr id='{{row.id}}' class="active">
                    <td>{{ forloop.counter }}</td>
                    <td na='nid'>{{row.id}}</td>
                    <td na='firstname'>{{row.child_firstname}}</td>
                    <td na='lastname'>{{row.child_lastname}}</td>
                    <td na='school'>{{row.child_school.school_name}}</td>
                    {% if row.is_active %} {% if row.on_trip and not row.is_check %}
                    <td na='status'>
                        <span class="text-success">Boarding</span>
                    </td>
                    <td>
                        <a class="glyphicon glyphicon-lock del-row" disabled></a>
                    </td>
                    {% endif %} {% if row.on_trip and row.is_check %}
                    <td na='status'>
                        <span class="text-warning">Marked</span>
                    </td>
                    <td>
                        <a href="" class="glyphicon glyphicon-zoom-in linktrip">trip</a>
                    </td>
                    {% endif %} {% if not row.on_trip and not row.is_check%}
                    <td na='status'>
                        <span class="text-primary">Standby</span>
                    </td>
                    <td>
                        <a href="" class="glyphicon glyphicon-trash icon del-row" data-toggle="modal" data-target="#delmodal"></a>
                    </td>
                    {% endif %} {% else %}
                    <td na='status'>
                        <span class="text-muted">Checked</span>
                    </td>
                    <td>
                        <a class="glyphicon glyphicon-lock del-row" disabled></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal add-->
<div class="modal fade" id='addmodal' tabindex="-1" role="dialog" aria-labelledby="mymodallable" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
                <h4 class="modal-title" id="mymodallable">New Student</h4>
            </div>
            <div class="modal-body">
                <form action=" " id="addform" class="form-horizontal">
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" required name="firstname" id="addfirstname" placeholder="first name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" required name="lastname" id="addlastname" placeholder="last name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="school" class="col-sm-3 control-label">School</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control required" required name="school" id="addschool" placeholder="school name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="errormsg" style="color: red;"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" id="btnSave">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="delmodal" tabindex="-1" role="dialog" aria-labelledby="mymodallable">
    <div class="modal-dialog" role="document">
        <div class="alert alert-warning" role="alert">
            <h3>Are you sure?</h3>
            <div>
                <p>This operation will delete the selected item.</p>
                <input style="display: none;" type="text" id="delnid" /></div>
            <div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="delconfirm" type="button" class="btn btn-danger">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock main %}