{% extends "cornerstone/base.html" %}{% load static from staticfiles %} {% block title %}My Trip{% endblock title %} {% block linkscript %}
<link rel="stylesheet" href="{%static 'base/css/trip_driver.css'%}">
<script src="{%static 'base/js/trip_driver.js'%}"></script> {% endblock linkscript %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h2 class="text-success">Trip list for: {{drivername}}</h2>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="info">
                        <th>ID</th>
                        <th>Trip Name</th>
                        <!-- <th>Driver</th> -->
                        <th>Bus</th>
                        <th>Capacity</th>
                        <th>School</th>
                        <th>Status</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody id="tb">
                    {% for row in triplist %}
                    <tr nid='{{row.id}}' class="active">
                        <td na='nid'>{{row.id}}</td>
                        <td na='tripname'>{{row.trip_name}}</td>
                        <!-- <td na='tripdriver'>{{row.trip_driver.driver_firstname}}&nbsp;{{row.trip_driver.driver_lastname}}</td> -->
                        <td na='tripbus'>{{row.trip_bus.bus_number}}</td>
                        <td na='triptime'><span class="text-primary">{{row.trip_bus.bus_seats}}</span></td>
                        <td na='tripkids' id="tripkids">
                            {% for key, value in row.trip_school.items %} {{key}} <span class="badge" style="background-color:#7986CB;"></span><br> {% endfor %}
                        </td>
                        <td na='tripstatus'><span class="text-primary"><b>Active</b></span></td>
                        <td><a href="/starttrip/{{row.id}}/"><button type="button" class="btn btn-primary btn-sm btn-block">Start</button></a></td>
                    </tr>
                    {% empty %}
                    <span class="text-warning">Sorry,no trips available today.</span> {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main %}