.table tbody tr td {
    vertical-align: middle;
    text-align: center;
}

.table thead tr th {
    vertical-align: middle;
    text-align: center;
}

#tip {
    width: 200px;
    position: fixed;
    top: 150px;
    right: 5px;
}