.table tbody tr td {
    vertical-align: middle;
    text-align: center;
}

.table thead tr th {
    vertical-align: middle;
    text-align: center;
}

.content {
    background: rgba(255, 255, 255, 0.8);
    /* padding-bottom: 405px; */
}

body {
    background-image: url(/static/base/img/main.jpg);
}