.table tbody tr td {
    vertical-align: middle;
    text-align: center;
}

.table thead tr th {
    vertical-align: middle;
    text-align: center;
}

#tripkids {
    text-align: left;
}

#unpacked {
    text-align: left;
}