.table tbody tr td {
    vertical-align: middle;
    text-align: center;
}

.table thead tr th {
    vertical-align: middle;
    text-align: center;
}

#tripkids {
    text-align: left;
}

#unpacked {
    text-align: left;
}

.content {
    background: rgba(255, 255, 255, 0.95);
    /* padding-bottom: 456px; */
}

body {
    background-image: url(/static/base/img/main.jpg);
}